body {
  margin: 0;
  background-color: #0a0a0a;
  overflow-x: hidden;
}

#grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows: repeat(auto-fill, 20px);
}

.dot {
  width: 1px;
  height: 1px;
  background-color: #222;
}

.glow {
  background-color: #00ffe7;
  box-shadow: 0 0 6px #00ffe7, 0 0 12px #00ffe7;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.glow-soft {
  background-color: #00ffe7;
  box-shadow: 0 0 2px #00ffe7, 0 0 4px #00ffe7;
  opacity: 0.4;
  transition: box-shadow 0.4s ease, background-color 0.4s ease,
    opacity 0.4s ease;
}

.glow-medium {
  background-color: #00ffe7;
  box-shadow: 0 0 4px #00ffe7, 0 0 8px #00ffe7;
  opacity: 0.7;
  transition: box-shadow 0.4s ease, background-color 0.4s ease,
    opacity 0.4s ease;
}

.glow-strong {
  background-color: #00ffe7;
  box-shadow: 0 0 6px #00ffe7, 0 0 12px #00ffe7;
  opacity: 1;
  transition: box-shadow 0.4s ease, background-color 0.4s ease,
    opacity 0.4s ease;
}
